.big-list {
  @apply flex flex-col gap-y-12;

  &-item {
    @apply flex flex-col gap-y-8 border-b border-solid border-blue pb-8 md:grid md:grid-cols-8 md:gap-x-[19px] md:pb-12 xl:grid-cols-12 xl:gap-x-[30px] xl:pb-16;

    &__heading {
      @apply flex h-fit items-center gap-x-4 md:col-span-4 md:gap-x-8 xl:col-span-5;

      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.18px;

      .ico {
        border-radius: 50%;
        --size: 40px;
        width: var(--size);
        height: var(--size);
        padding: 8px;
      }

      @screen md {
        font-size: 24px;
        letter-spacing: 0.24px;

        .ico {
          padding: 16px;
          --size: 62px;
        }
      }

      @screen xl {
        font-size: 28px;
        letter-spacing: 0.28px;
        .ico {
          --size: 68px;
        }
      }
    }

    &__description {
      @apply text-body5 md:col-span-4 xl:col-span-5 xl:col-start-8 xl:text-body3;
    }
  }
}
