* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility !important;
  font-stretch: normal;
  font-optical-sizing: auto;
}

html {
  font-family: "Evolventa", sans-serif;
  font-size: 62.5%;
  scrollbar-gutter: stable;
  @apply text-text1;
}

body {
  // scrollbar-gutter: stable both-edges;
  overflow-x: hidden;
}

.page {
  @apply bg-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  & > .footer {
    margin-top: auto;
  }

  @screen md {
    min-width: 768px;
  }

  @screen xl {
    min-width: 1366px;
  }
}

ul {
  li {
    list-style: none !important;
  }
}

.drop-down {
  cursor: pointer;

  &.active > div {
    grid-template-rows: 1fr;
  }
}

.drop-down__item {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-in;
  overflow: hidden;

  & > div {
    min-height: 0;
    & > * {
      min-height: 0;
    }
  }

  &.opened {
    grid-template-rows: 1fr;
  }
}

h2 {
  @apply mb-[24px] md:mb-12 xl:mb-16;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @screen md {
    font-size: 3.2rem;
  }

  @screen xl {
    font-size: 5.4rem;
  }
}

h1 {
  @apply mb-[24px] md:mb-12 xl:mb-16;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.1em; /* 26.4px */
  letter-spacing: 0.02px;
  text-transform: uppercase;
  @screen md {
    font-size: 4rem;
  }

  @screen xl {
    font-size: 7rem;
    letter-spacing: 0.03em;
  }
}

.default-grid {
  @apply md:grid md:grid-cols-8 md:gap-x-[19px] xl:grid-cols-12 xl:gap-x-[30px];
}

.default-grid--md-imp {
  @screen md {
    display: grid !important;
  }
}

.angle-img {
  @media screen and (max-width: 767px) {
    .first-block-template & {
      height: 57.22222222222222vw !important;
    }
  }
  @screen md {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 62% 100%);
  }
  @screen xl {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 47% 100%);
  }
}

.angle-img--39 {
  @screen md {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 39% 100%);
  }
}

.def-m {
  @apply mb-[24px] md:mb-12 xl:mb-16;
}

.mainPage-f-block {
  &__title {
    p {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.45em;

      @screen md {
        font-size: 1.8rem;
      }

      @screen xl {
        @apply text-body1;
      }
    }
  }
}

.player {
  --t: 210px;
  --r: 142px;
  right: 42.22222222222222vw;
  position: absolute;
  transform: translateX(100%);
  height: 100%;
  top: 0;
  width: fit-content;

  &__container {
    position: relative;

    img {
      width: 97.22222222222222vw;
      height: auto;
      max-width: unset;
      min-width: 350px;
      min-height: 203px;
    }
  }

  &__control {
    position: absolute;
    top: 0;
    left: -1px;
    width: 0;
    height: 0;
    border-bottom: var(--t) solid #ffffff;
    border-right: var(--r) solid transparent;
  }

  @screen md {
    --height: 337px;
    --t: 339px;
    --r: 235px;
    right: 423px;
    .player__container {
      img {
        width: auto;
        height: var(--height);
      }
    }
  }

  @screen xl {
    --height: 444px;
    --t: 448px;
    --r: 315px;
    right: 668px;
  }
}

.production-item {
  --titileH: 120px;
  --imgH: 256px;
  @apply border border-blue;
  height: auto;
  max-width: 235px;
  position: relative;
  cursor: pointer;
  padding-bottom: var(--titileH);
  &__img {
    position: relative;
    height: var(--imgH);
    [class^="icon-"],
    [class*=" icon-"] {
      @apply absolute bottom-0 right-0 block text-[89px] text-white;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    @apply absolute bottom-0 top-[var(--titileH)] w-full bg-white px-12 py-8 text-body5 opacity-0;
    transition: opacity 0.3s ease-in-out;
  }

  &__title {
    @apply absolute top-[var(--imgH)]  w-full bg-white px-12 py-[12px] text-body4;
    height: var(--titileH);
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &:hover {
    .production-item__content {
      @apply opacity-100;
    }
    .production-item__title {
      @apply top-0 translate-y-0 bg-blue;
    }
  }

  @screen md {
    --titileH: 96px;
    --imgH: 257px;
    max-width: unset;

    .production-item__title {
      @apply py-8 text-body4;
    }
  }
  @screen xl {
    --titileH: 136px;
    --imgH: 313px;

    .production-item__content {
      @apply py-16 text-body3;
    }
    .production-item__title {
      @apply py-16 text-body3;
    }
  }
}

.production-item2 {
  @apply h-auto max-w-[235px] cursor-pointer border border-blue md:max-w-full;
  &__img {
    @apply relative;

    img {
      @apply h-[117px] w-full object-cover md:h-64 xl:h-[208px];
    }
    .button__container {
      @apply absolute bottom-0 left-0 right-0 top-0  hidden w-full items-end justify-end opacity-0 xl:flex;
      background: rgba(40, 56, 110, 0.5);
      transition: opacity 0.3s ease-in-out;
      .button-secondary {
        @apply mb-4 mr-4 text-white hover:border-white;
      }
    }
  }

  &__title {
    @apply bg-white px-12 py-8 text-body4 md:text-body5 xl:py-16 xl:text-body3;
  }

  &:hover {
    .button__container {
      @apply opacity-100;
    }
  }
}

.product-category {
  & > .swiper {
    overflow: visible;
  }

  @screen md {
    & > .swiper {
      overflow: hidden;
    }
    .swiper-controls {
      gap: 83px;
    }
  }

  @screen xl {
    position: relative;

    .swiper {
      margin: 0 72px;
      position: static;
    }

    [class^="swiper-button-"],
    [class*="swiper-button-"] {
      position: absolute !important;
      transform: translateY(-50%);
      &.swiper-button-next {
        right: 80px;
      }
      &.swiper-button-prev {
        left: 80px;
      }
    }

    .swiper-controls {
      margin-top: 0;
    }
    .swiper-pagination {
      max-width: 382px;
      margin: 30px auto 0;
    }
  }
}

.swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin-top: 2.4rem;

  .swiper-pagination {
    position: static;
    width: 100%;
    display: flex;
  }

  [class^="swiper-button-"],
  [class*="swiper-button-"] {
    &::after {
      display: none;
    }
    margin-top: 0;
    position: static;
    font-size: 40px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply text-text1;

    &.swiper-button-disabled {
      @apply text-blue;
    }
  }

  .swiper-button-before {
    margin-right: auto;
  }

  .swiper-button-next {
    margin-left: auto;
  }

  .swiper-pagination-lock {
    display: none;
  }

  @screen md {
    gap: 83px;
  }
  @screen xl {
    margin-top: 0;
  }
}

.swiper-pagination-bullets {
  width: 100%;
  display: flex;
  .swiper-pagination-bullet {
    @apply bg-bullets-level2;
    flex-grow: 1;
    width: auto;
    border-radius: 0;
    height: 6px;
    margin: 0 !important;
    opacity: 1;

    &:first-child {
      border-radius: 20px 0px 0px 20px;
    }
    &:last-child {
      border-radius: 0px 20px 20px 0px;
    }
    &.swiper-pagination-bullet-active {
      @apply bg-blue;
    }
  }
}

.ctm-swiper {
  @apply md:absolute md:right-[405px] md:h-[238px] md:w-[433px] md:translate-x-full xl:right-[762px] xl:h-[312px] xl:w-[762px];
  .swiper-pagination-bullets {
    @apply bottom-[6.6666vw] left-auto right-1/2 top-auto w-[152px] translate-x-1/2 md:bottom-[7.4rem] md:right-[10rem] md:translate-x-0 xl:bottom-[8.9rem] xl:right-[10.6rem] xl:w-[382px];
  }

  .swiper-slide {
    opacity: 0 !important;

    &-active {
      opacity: 1 !important;
    }
  }
}

.partner-list {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  &__switchers {
    background-image: linear-gradient(90deg, var(--left) 0%, var(--right) 100%);
    overflow: hidden;
    transition: --left 0.2s ease-in, --right 0.2s ease-in;
    .wrap {
      @apply border-r border-blue bg-text2;
      height: 200px;
      transform: skew(35.184deg);

      & > span {
        transform: skew(-35.184deg);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      &:last-child {
        @apply border-none;
      }
    }

    &.left {
      --left: rgba(22, 33, 72, 1);
    }

    &.right {
      --right: rgba(22, 33, 72, 1);
    }

    &.grid-cols-5 {
      grid-template-columns: 245px 233px 330px 239px 268px !important;
    }
  }

  &__switch {
    @apply border-b border-blue bg-text2 text-white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    gap: 10px;
    font-size: 1.8rem;
    line-height: normal;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;

    .icon-arrow2-down {
      font-size: 3rem;
    }
    &--mob {
      @apply xl:hidden;
    }

    &:hover {
      @apply bg-text1;
    }

    &.current {
      @apply bg-text1;

      .icon-arrow2-down {
        transform: rotate(180deg);
      }
    }
  }

  &__sub {
    @apply flex flex-col gap-y-[16px] text-body4;
    li {
      display: flex;
      gap: 8px;
      span:first-child {
        font-size: 24px;
      }
    }
  }

  @screen md {
    .partner-list__switch {
      font-size: 2rem;
      line-height: 1.4em;
      text-transform: uppercase;
      padding: 4rem 0;
      .icon-arrow2-down {
        font-size: 4rem;
      }
    }

    .partner-list__sub {
      li {
        span:first-child {
          font-size: 32px;
        }
      }
    }
  }

  @screen xl {
    .partner-list__sub {
      @apply text-body3;
    }
  }
}

.partner-list__drop-down__item {
  box-shadow: 0px 20px 40px 0px rgba(96, 110, 163, 0.15);
}

.partner {
  @apply flex h-[126px] w-[172px] items-center justify-center border border-blue xl:h-[208px] xl:w-auto xl:min-w-[241.2px];
  img {
    @apply h-[65px] w-[132px] xl:h-[100px] xl:w-[202px];
  }

  .partners__grid & {
    display: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: flex;
    }

    @screen xl {
      &:nth-child(5) {
        display: flex;
      }
    }
  }

  .partners__grid.opened & {
    display: flex;
  }
}

.partners {
  &__grid {
    flex-wrap: wrap;
  }
}

.partners__grid {
  &:not(.opened) + .button-more {
    .button-more--close {
      display: none;
    }
  }

  &.opened + .button-more {
    .button-more--open {
      display: none;
    }
  }
}

.partners--v2 {
  width: 320px;
  height: 362px;
  margin: auto;
  .partner {
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    min-width: 0;
    background-color: #fff;

    img {
      object-fit: cover;
    }

    &:not(.partner--main)::after,
    &:not(.partner--main)::before {
      @apply bg-blue;
      content: "";
      position: absolute;
      height: 1px;
      z-index: -1;
      transform-origin: right;
      right: calc(50% + 0.5px);
    }

    &--main {
      @apply bg-red;
      width: 109px;
      height: 109px;
      top: 108px;
      right: 97px;
      border: none;
      svg {
        width: 82.751px;
        height: auto;
        margin-top: 0.2em;
      }
    }
    &--ga {
      width: 60px;
      height: 60px;
      top: 0;
      right: 121px;
      img {
        width: 52.628px;
        height: 26.048px;
      }
      &::before {
        width: 25px;
        transform: rotate(-90deg);
        bottom: -1px;
      }
      &::after {
        width: 25px;
        transform: rotate(90deg);
        bottom: -50px;
      }
    }
    &--em {
      width: 70px;
      height: 70px;
      top: 95px;
      left: 0px;
      img {
        width: 65.693px;
        height: 32.451px;
      }
      &::before {
        width: 27px;
        right: -1px !important;
        transform: rotate(180deg);
      }
      &::after {
        width: 28px;
        transform: skew(35deg) rotate(90deg);
        right: -47px !important;
        bottom: 6px;
      }
    }
    &--mcm {
      width: 60px;
      height: 59.469px;
      top: 5px;
      left: 9px;
      svg {
        width: 54px;
        height: 27px;
      }
      &::before {
        width: 6px;
        right: 0px !important;
        top: 32px;
        transform: rotate(180deg);
      }
      &::after {
        width: 26px;
        transform: skew(35deg) rotate(90deg);
        right: -24px !important;
        bottom: -1.3px;
      }
    }
    &--g {
      width: 60px;
      height: 60px;
      top: 55px;
      left: 83px;
      img {
        width: 52.803px;
        height: 26.14px;
      }
      &::before {
        width: 6px;
        right: 17px !important;
        bottom: 2px;
        transform: skew(35deg) rotate(-90deg);
      }
      &::after {
        width: 6px;
        transform: skew(35deg) rotate(90deg);
        right: 10px !important;
        bottom: -8px;
      }
    }
    &--o {
      width: 84px;
      height: 84px;
      top: 52px;
      right: 26px;
      img {
        width: 95.928px;
        height: 47.489px;
      }
      &::before {
        width: 7px;
        left: 12.4px !important;
        bottom: 10px;
        transform: skew(-35deg) rotate(90deg);
        transform-origin: left !important;
      }
      &::after {
        width: 8px;
        transform: skew(-35deg) rotate(-90deg);
        transform-origin: left !important;
        left: 3px !important;
        bottom: -3.4px;
      }
    }
    &--dm {
      width: 50px;
      height: 50px;
      top: 137px;
      right: 1px;
      img {
        width: 44.105px;
        height: 21.834px;
      }
      &::before {
        width: 24px;
        left: -47px !important;
        bottom: 25px;
        transform-origin: left !important;
      }
      &::after {
        width: 24px;
        transform: rotate(180deg);
        transform-origin: left !important;
        left: 0px !important;
        bottom: 25px;
      }
    }
    &--lamoda {
      width: 60px;
      height: 60px;
      bottom: 58px;
      right: 120px;
      img {
        width: 53.691px;
        height: 26.048px;
      }
      &::before {
        width: 15px;
        top: -30px;
        transform: rotate(-90deg);
        right: calc(50% + 1.5px) !important;
      }
      &::after {
        width: 15px;
        transform: rotate(90deg);
        top: -1px;
        right: calc(50% + 1.5px) !important;
      }
    }
    &--x5 {
      width: 84px;
      height: 84px;
      bottom: 62px;
      right: 20px;
      svg {
        width: 75.085px;
        height: 37.543px;
      }
      &::before {
        width: 20px;
        top: -10px;
        transform: skew(35deg) rotate(90deg);
        left: -24px;
        transform-origin: left !important;
      }
      &::after {
        width: 18px;
        transform: skew(35deg) rotate(-90deg);
        top: 27px;
        left: 2px;
        transform-origin: left !important;
      }
    }
    &--lenta {
      width: 50px;
      height: 50px;
      bottom: 12px;
      right: 0;
      img {
        width: 44.261px;
        height: 21.87px;
      }
      &::before {
        width: 111.8px;
        top: -89px;
        transform: skew(35deg) rotate(90deg);
        left: -102px;
        transform-origin: left !important;
      }
      &::after {
        width: 24px;
        transform: rotate(-180deg);
        bottom: calc(50% + 0.5px);
        left: 0;
        transform-origin: left !important;
      }
    }
    &--yaMark {
      width: 70px;
      height: 70px;
      bottom: 0;
      left: 64px;
      img {
        width: 61.736px;
        height: 30.472px;
      }
      &::before {
        width: 40px;
        top: 0px;
        transform: skew(-35deg) rotate(90deg);
        right: 28px !important;
      }
      &::after {
        width: 40px;
        transform: skew(-35deg) rotate(-90deg);
        top: -80px;
        right: -28px !important;
      }
    }
    &--wb {
      width: 84px;
      height: 84px;
      bottom: 88px;
      left: 28px;
      img {
        width: 72.79px;
        height: 36.194px;
      }
      &::before {
        width: 14px;
        top: 12.5px;
        transform: skew(-35deg) rotate(90deg);
        right: 10.5px !important;
      }
      &::after {
        width: 15px;
        transform: skew(-35deg) rotate(-90deg);
        top: -14px;
        right: -8px !important;
      }
    }
    &--letual {
      width: 60px;
      height: 60px;
      bottom: 28px;
      left: 0;
      img {
        width: 52.628px;
        height: 26.048px;
      }
      &::before {
        width: 5px;
        top: 4.5px;
        transform: skew(-35deg) rotate(90deg);
        right: 11.5px !important;
      }
      &::after {
        width: 5px;
        transform: skew(-35deg) rotate(-90deg);
        top: -5px;
        right: 5px !important;
      }
    }
  }
}

@screen md {
  .partners--v2 {
    width: 100%;
    height: 328.269px;
    .partner {
      .partner--v2-container:not(.partner--v2-container--transition) & {
        cursor: pointer;
        transition-property: border-color, box-shadow;
        transition-timing-function: ease-in;
        transition-duration: 200ms;

        &:hover {
          border-color: #fff !important;

          box-shadow: 0px 20px 40px 0px rgba(96, 110, 163, 0.15);
        }
      }
      &--main {
        width: 145.436px;
        height: 145.436px;
        top: 95.57px;
        right: 289.68px;
        svg {
          width: 110.412px;
        }
      }
      &--ga {
        width: 67px;
        height: 67px;
        top: 47.49px;
        right: 110.49px;
        img {
          width: 58.768px;
          height: 29.087px;
        }
        &::before {
          width: 10px;
          transform: rotate(0);
          bottom: 32px;
          right: 66px !important;
        }
        &::after {
          width: 10px;
          transform: rotate(180deg);
          bottom: 32px;
          right: 85px !important;
        }
      }
      &--em {
        width: 105px;
        height: 105px;
        top: 120.5px;
        left: 0px;
        img {
          width: 98.54px;
          height: 48.676px;
        }
        &::before {
          width: 75px;
          top: 46px;
          right: 0px !important;
          transform: rotate(180deg);
        }
        &::after {
          width: 75px;
          transform: none;
          right: -150px !important;
          bottom: auto;
          top: 46px;
        }
      }
      &--mcm {
        width: 67.598px;
        height: 67px;
        top: 37.99px;
        left: 23.75px;
        svg {
          width: 58.768px;
          height: 29.087px;
        }
        &::before {
          width: 113px;
          right: 0px !important;
          top: 30px;
          transform: rotate(180deg);
        }
        &::after {
          width: 82px;
          transform: skew(35deg) rotate(90deg);
          right: -170px !important;
          bottom: -48px;
        }
      }
      &--g {
        width: 67px;
        height: 67px;
        top: 97.35px;
        left: 131.19px;
        img {
          width: 58.964px;
          height: 29.19px;
        }
        &::before {
          width: 42.5px;
          right: -61px !important;
          bottom: -9px;
          transform: skew(35deg) rotate(90deg);
        }
        &::after {
          width: 30.7px;
          transform: rotate(0);
          right: auto !important;
          left: 66px;
          bottom: 33px;
        }
      }
      &--o {
        width: 105px;
        height: 105px;
        top: 26.12px;
        right: 195.96px;
        img {
          width: 119.91px;
          height: 59.362px;
        }
        &::before {
          width: 84px;
          left: 0px !important;
          bottom: 49px;
          transform: rotate(180deg);
          transform-origin: left !important;
        }
        &::after {
          width: 17px;
          transform: skew(35deg) rotate(-90deg);
          transform-origin: left !important;
          left: -72px !important;
          bottom: 32px;
        }
      }
      &--dm {
        width: 57px;
        height: 57px;
        top: 114.57px;
        right: 157.89px;
        img {
          width: 50.279px;
          height: 24.891px;
        }
        &::before {
          width: 40px;
          left: -80px !important;
          bottom: 26px;
          transform-origin: left !important;
        }
        &::after {
          width: 40px;
          transform: rotate(180deg);
          transform-origin: left !important;
          left: 0px !important;
          bottom: 26px;
        }
      }
      &--lamoda {
        width: 67px;
        height: 67px;
        top: 0;
        bottom: auto;
        right: 326.57px;
        img {
          width: 59.955px;
          height: 29.087px;
        }
        &::before {
          width: 84px;
          top: 28px;
          transform: rotate(0);
          right: 65px !important;
        }
        &::after {
          width: 91px;
          transform: skew(35deg) rotate(90deg);
          top: 119px;
          right: 85px !important;
        }
      }
      &--x5 {
        width: 125px;
        height: 125px;
        bottom: auto;
        top: 106.26px;
        right: 0.34px;
        svg {
          width: 111.6px;
          height: 55.8px;
        }
        &::before {
          width: 83px;
          top: 68px;
          transform: none;
          left: -166px;
        }
        &::after {
          width: 83px;
          transform: rotate(180deg);
          top: 68px;
          left: 0px;
        }
      }
      &--lenta {
        width: 57px;
        height: 57px;
        bottom: 15.42px;
        right: 312.23px;
        img {
          width: 50.457px;
          height: 24.932px;
        }
        &::before {
          width: 10px;
          top: -18px;
          transform: skew(35deg) rotate(90deg);
          left: 1px;
          transform-origin: left !important;
        }
        &::after {
          width: 10px;
          transform: skew(35deg) rotate(-90deg);
          bottom: 52px;
          left: 15px;
          transform-origin: left !important;
        }
      }
      &--yaMark {
        width: 105px;
        height: 105px;
        bottom: 1.27px;
        right: 84px;
        left: auto;
        img {
          width: 92.604px;
          height: 45.708px;
        }
        &::before {
          width: 75px;
          top: -22px;
          transform: skew(35deg) rotate(-90deg);
          right: 214px !important;
        }
        &::after {
          width: 58.5px;
          transform: rotate(0);
          top: 53px;
          right: 103px !important;
        }
      }
      &--wb {
        width: 125px;
        height: 125px;
        bottom: 16.94px;
        left: 104.48px;
        img {
          width: 108.189px;
          height: 53.796px;
        }
        &::before {
          width: 25.5px;
          top: 12px;
          transform: skew(-35deg) rotate(90deg);
          right: 23px !important;
        }
        &::after {
          width: 31.7px;
          transform: rotate(0deg);
          top: -13px;
          right: -26px !important;
        }
      }
      &--letual {
        width: 67px;
        height: 67px;
        bottom: 79.03px;
        left: auto;
        right: 190.63px;
        img {
          width: 58.768px;
          height: 29.087px;
        }
        &::before {
          width: 33px;
          transform: skew(35deg) rotate(-90deg);
          top: 0px;
          right: 102px !important;
        }
        &::after {
          width: 13px;
          top: 33px;
          transform: none;
          right: 66px !important;
        }
      }
    }
  }
}
@screen xl {
  .partners--v2 {
    width: 1159px;
    height: 553px;
    .partner {
      &--main {
        width: 245px;
        height: 245px;
        top: 161px;
        right: 488px;
        svg {
          width: 186px;
        }
      }
      &--ga {
        width: 112px;
        height: 112px;
        top: 80px;
        right: 187px;
        img {
          width: 99px;
          height: 49px;
        }
        &::before {
          width: 17px;
          transform: rotate(0);
          bottom: 52.43px;
          right: 111px !important;
        }
        &::after {
          width: 17px;
          transform: rotate(180deg);
          bottom: 52.43px;
          right: 144px !important;
        }
      }
      &--em {
        width: 176px;
        height: 176px;
        top: 203px;
        left: 0px;
        img {
          width: 166px;
          height: 82px;
        }
        &::before {
          width: 126px;
          top: 79px;
          right: 0px !important;
          transform: rotate(180deg);
        }
        &::after {
          width: 126px;
          transform: none;
          right: -251px !important;
          bottom: auto;
          top: 79px;
        }
      }
      &--mcm {
        width: 112px;
        height: 112px;
        top: 64px;
        left: 40px;
        svg {
          width: 99px;
          height: 49px;
        }
        &::before {
          width: 189px;
          right: 0px !important;
          top: 51px;
          transform: rotate(180deg);
        }
        &::after {
          width: 129px;
          transform: skew(35deg) rotate(90deg);
          right: -279px !important;
          bottom: -71px;
        }
      }
      &--g {
        width: 113px;
        height: 112px;
        top: 164px;
        left: 221px;
        img {
          width: 99.33px;
          height: 49.173px;
        }
        &::before {
          width: 63.5px;
          right: -95px !important;
          bottom: -9px;
          transform: skew(35deg) rotate(90deg);
        }
        &::after {
          width: 49.7px;
          transform: rotate(0);
          right: auto !important;
          left: 112px;
          bottom: 54px;
        }
      }
      &--o {
        width: 176px;
        height: 176px;
        top: 44px;
        right: 331px;
        img {
          width: 202px;
          height: 100px;
        }
        &::before {
          width: 139px;
          left: 0px !important;
          bottom: 81px;
          transform: rotate(180deg);
          transform-origin: left !important;
        }
        &::after {
          width: 28px;
          transform: skew(35deg) rotate(-90deg);
          transform-origin: left !important;
          left: -119px !important;
          bottom: 53px;
        }
      }
      &--dm {
        width: 96px;
        height: 96px;
        top: 193px;
        right: 266px;
        img {
          width: 84.7px;
          height: 41.931px;
        }
        &::before {
          width: 67px;
          left: -133px !important;
          bottom: 43px;
          transform-origin: left !important;
        }
        &::after {
          width: 67px;
          transform: rotate(180deg);
          transform-origin: left !important;
          left: 0px !important;
          bottom: 43px;
        }
      }
      &--lamoda {
        width: 112px;
        height: 112px;
        top: 0;
        right: 551px;
        img {
          width: 101px;
          height: 49px;
        }
        &::before {
          width: 141px;
          top: 49px;
          transform: rotate(0);
          right: 110px !important;
        }
        &::after {
          width: 157px;
          transform: skew(35deg) rotate(90deg);
          top: 207px;
          right: 140px !important;
        }
      }
      &--x5 {
        width: 210px;
        height: 210px;
        bottom: auto;
        top: 179px;
        svg {
          width: 188px;
          height: 94px;
        }
        &::before {
          width: 160px;
          top: 116px;
          transform: none;
          left: -320px;
        }
        &::after {
          width: 160px;
          transform: rotate(180deg);
          top: 116px;
          left: 0px;
        }
      }
      &--lenta {
        width: 96px;
        height: 96px;
        bottom: 26px;
        right: 526px;
        img {
          width: 85px;
          height: 42px;
        }
        &::before {
          width: 16px;
          top: -27px;
          transform: skew(35deg) rotate(90deg);
          left: 4px;
          transform-origin: left !important;
        }
        &::after {
          width: 16px;
          transform: skew(35deg) rotate(-90deg);
          bottom: 89px;
          left: 26px;
          transform-origin: left !important;
        }
      }
      &--yaMark {
        width: 176px;
        height: 176px;
        bottom: 3px;
        right: 142px;
        img {
          width: 156px;
          height: 77px;
        }
        &::before {
          width: 131px;
          top: -41px;
          transform: skew(35deg) rotate(-90deg);
          right: 364px !important;
        }
        &::after {
          width: 98.5px;
          transform: rotate(0);
          top: 90px;
          right: 174px !important;
        }
      }
      &--wb {
        width: 210px;
        height: 210px;
        bottom: 30px;
        left: 176px;
        img {
          width: 108.189px;
          height: 53.796px;
        }
        &::before {
          width: 38.5px;
          top: 21px;
          transform: skew(-35deg) rotate(90deg);
          right: 39px !important;
        }
        &::after {
          width: 53.7px;
          transform: rotate(0deg);
          top: -18px;
          right: -42px !important;
        }
      }
      &--letual {
        width: 112px;
        height: 112px;
        bottom: 134px;
        right: 322px;
        img {
          width: 99px;
          height: 49px;
        }
        &::before {
          width: 58px;
          transform: skew(35deg) rotate(-90deg);
          top: -1px;
          right: 175px !important;
        }
        &::after {
          width: 23px;
          top: 57px;
          transform: none;
          right: 111px !important;
        }
      }
    }
  }
}

.partner--v2-container.stop {
  .partner--v2-container__anim-opacity {
    transform: translateY(200%);
    opacity: 0;
  }
  .partners--v2 {
    .partner {
      opacity: 0;
      &::after,
      &::before {
        width: 0;
      }
    }

    .partner--main {
      opacity: 0;
    }
  }
}

.partner--v2-container--transition {
  * {
    transition-timing-function: ease-in;
    transition-duration: 300ms;
  }
  .partner--v2-container__anim-opacity {
    transition-property: opacity, transform;
    transition-delay: 400ms;
  }
  .partners--v2 {
    .partner {
      transition-property: opacity;
      transition-delay: 1000ms;
      &::after,
      &::before {
        transition-property: width;
        transition-timing-function: ease-in;
        transition-duration: 300ms;
        transition-delay: 1300ms;
      }
    }

    .partner--main {
      transition-property: opacity;
      transition-delay: 700ms;
    }
  }
}

.bullet-carousel {
  @apply h-[182px] md:h-[238px] xl:h-[258px];
  padding: 0 28px;
  position: relative;

  &__el {
    --pos1: 108px;
    --pos2: 54px;

    @apply pb-[4px] pl-[24px] pt-[4px] md:pb-4 md:pr-4 md:pt-[14px];
    transform: skew(35.096deg);
    position: absolute;
    left: 27px;
    right: 27px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;

    &:nth-child(1) {
      @apply bg-blue;
      animation-name: bullet1;
      z-index: 6;
    }

    &:nth-child(2) {
      @apply top-[var(--pos2)] bg-bullets-level2 text-bullets-txt2;
      z-index: 4;
      animation-name: bullet2;
    }

    &:nth-child(3) {
      @apply top-[var(--pos1)]  bg-bullets-level3 text-bullets-txt3;
      z-index: 2;
      animation-name: bullet3;
    }

    @keyframes bullet1 {
      0% {
        top: 0;
        z-index: 6;
        background-color: rgb(205 213 244);
        color: #162148;
      }
      1% {
        z-index: 1;
      }
      33% {
        top: var(--pos1);
        background-color: rgb(253 253 255);
        color: rgb(240 243 251);
      }
      34% {
        z-index: 4;
      }
      66% {
        top: var(--pos2);
        background-color: rgb(244 246 255);
        color: rgb(222 226 240);
      }
      67% {
      }
      100% {
        top: 0;
        z-index: 6;
        background-color: rgb(205 213 244);
        color: #162148;
      }
    }

    @keyframes bullet2 {
      0% {
        top: var(--pos2);
        z-index: 4;
        background-color: rgb(244 246 255);
        color: rgb(222 226 240);
      }
      1% {
      }
      33% {
        z-index: 6;
        top: 0;
        background-color: rgb(205 213 244);
        color: #162148;
      }
      34% {
        z-index: 1;
      }
      66% {
        top: var(--pos1);
        background-color: rgb(253 253 255);
        color: rgb(240 243 251);
      }
      67% {
        z-index: 4;
      }
      100% {
        top: var(--pos2);
        background-color: rgb(244 246 255);
        color: rgb(222 226 240);
      }
    }

    @keyframes bullet3 {
      0% {
        top: var(--pos1);
        z-index: 2;
        background-color: rgb(253 253 255);
        color: rgb(240 243 251);
      }
      1% {
      }
      33% {
        z-index: 4;
        top: var(--pos2);
        background-color: rgb(244 246 255);
        color: rgb(222 226 240);
      }
      34% {
      }
      66% {
        top: 0;
        z-index: 6;
        background-color: rgb(205 213 244);
        color: #162148;
      }
      67% {
        z-index: 2;
      }
      100% {
        top: var(--pos1);
        background-color: rgb(253 253 255);
        color: rgb(240 243 251);
      }
    }

    @screen md {
      --pos1: 132px;
      --pos2: 66px;
    }

    @screen xl {
      --pos1: 152px;
      --pos2: 76px;
    }

    .el__wrapper {
      transform: skew(-35.096deg);
      margin-left: 10px;
      @apply items-end justify-between md:ml-[51px] md:flex;

      p {
        &:nth-child(1) {
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.4em;
        }

        &:nth-child(2):not(.last-p) {
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.2em;
          letter-spacing: 0.01em;
          margin-bottom: 6px;
        }

        &.last-p {
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      @screen md {
        p {
          &:nth-child(1) {
            @apply text-body1;
          }

          &:nth-child(2):not(.last-p) {
            @apply -mt-4 mb-0 text-sub1;
          }

          &.last-p {
            @apply text-body5;
          }
        }
      }
    }
  }
}

#history-swiper {
  @apply md:overflow-visible;
}

.history__slide {
  opacity: 0 !important;
  transition: none !important;
  height: auto;
  justify-content: space-between;
  &.swiper-slide-active {
    opacity: 1 !important;
  }
  .history__slide__title {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @screen md {
      font-size: 2.8rem;
    }

    @screen xl {
      font-size: 4.8rem;
    }
  }
}

.history__slide__text {
  & > span {
    display: -webkit-box;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

    @screen md {
      display: block;
      width: auto;
      -webkit-box-orient: unset;
      -webkit-line-clamp: unset;
      overflow: unset;
    }
  }
}

.history__slide__text.opened {
  & > span {
    display: block;
  }

  .hystory__open-more .show {
    display: none;
  }
  .hystory__open-more .hide {
    display: block;
  }
  .hystory__open-more .icon-arrow2-down {
    transform: rotate(180deg);
  }
}

.hystory-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  @apply mt-[16px] md:mt-0;
  * {
    position: static;
    margin-top: unset;
  }

  .swiper-pagination {
    gap: 4px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply text-text1;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    max-width: 44px;
    height: 44px;
  }
}

.history-swiper--v2 {
  .history__slide__title {
    @apply absolute bottom-0 right-0 text-white;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .swiper-slide {
    width: 282px !important;
  }

  .history__slide__text > span {
    width: auto;
  }

  &.paraf-slider {
    padding: 0 20px;
    .swiper-slide {
      width: 236px !important;
      height: 300px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      & > div {
        display: flex;
        align-items: center;
        gap: 6px;
        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        color: #fff;
      }
    }
  }

  @screen md {
    .swiper-slide {
      width: 334px !important;
      transition: transform ease-in-out 0.2s, opacity ease-in-out 0.2s;
      transform: scale(0.4);
      opacity: 0.6;
    }

    .swiper-slide-next {
      transform-origin: left;
    }
    .swiper-slide-prev {
      transform-origin: right;
    }
    .swiper-slide-active {
      transform: scale(1);
      opacity: 1;
    }

    .hystory-controls {
      .swiper-button-prev,
      .swiper-button-next {
        font-size: 20px;
      }
    }

    &.paraf-slider {
      padding: 0;

      .swiper-slide {
        width: 334px !important;
        height: 350px;
        transform: scale(0.4172);
        border: 1px solid #cdd5f4;

        & > div {
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 42px;
        }
      }

      .swiper-slide-active {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  @screen xl {
    .history__slide__title {
      font-size: 90px;
      letter-spacing: 1.8px;
    }
    .swiper-slide {
      width: 588px !important;
    }
    .hystory-controls {
      .swiper-button-prev,
      .swiper-button-next {
        font-size: 40px;
      }
    }
    &.paraf-slider {
      .swiper-slide {
        width: 382px !important;
        height: 408px;
        transform: scale(0.73036);
      }

      .swiper-slide-active {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.history-swiper--v2__pagination {
  width: fit-content;
  .history_pagination_button {
    @apply border-greyBlue text-greyBlue;
    padding: 3px 9px;
    border: 1px solid;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    border-radius: 200px;
    width: fit-content;
    span {
      display: block;
      margin-top: 0.2em;
    }

    &.active {
      @apply border-text2 bg-text2 text-white;
    }

    @screen md {
      padding: 3px 5.3px;
    }
    @screen xl {
      padding: 7px 18.3px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23.2px;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    content: none;
  }
}

.first-title {
  .first-title__title,
  .first-title__description,
  .button-primary {
    opacity: 0;
    transform: translateY(calc(100% + 20px));
    transition: transform ease-in-out 300ms 500ms,
      opacity ease-in-out 300ms 500ms;
  }
}

.first-title + picture {
  opacity: 2%;
  transition: opacity ease-in-out 300ms 500ms;
}

.first-title.showed {
  .first-title__title,
  .first-title__description,
  .button-primary {
    opacity: 1;
    transform: translateY(0);
  }
}

.first-title.showed + picture {
  opacity: 100%;
}

.modal {
  @apply fixed left-0 top-0 z-[999] hidden h-[var(--doc-height)] w-full items-center justify-center p-10 md:p-20;
  background-color: rgba(0, 0, 0, 0.5);

  &__container {
    transform: rotateX(90deg);
    transition: transform 0.4s ease;
  }

  &.opened {
    .modal__container {
      transform: rotateX(0);
    }
  }
}

.form-modal {
  .modal__container {
    @apply relative w-[320px] bg-white px-8 py-[34px] md:w-[571px] md:px-12 md:py-12;

    border-radius: 20px;

    .modal__close {
      @apply absolute right-4 top-4 flex h-[32px] w-[32px] items-center justify-center md:right-8 md:top-8 md:h-[44px] md:w-[44px];
      span {
        @apply text-[17.5px] md:text-[24px];
      }
    }

    h5 {
      max-width: 399px;
      margin: auto;
      @screen md {
        font-size: 2rem !important;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4em !important;
      }
    }
  }
}

.form-modal--success {
  .modal__container {
    @apply px-[2.8rem] pb-8 pt-[3.9rem] md:w-[511px] md:px-[9.5rem] md:pb-[2.4rem] md:pt-[4.8rem] xl:w-[586px] xl:px-[9.8rem];
  }
}

.first-block-template {
  height: fit-content;
  @screen md {
    height: 336px;
  }

  @screen xl {
    height: 423px;
  }
}

.dist-schema {
  width: 315px;
  height: 396px;
  margin: auto;
  @screen md {
    width: 532px;
    height: 314px;
  }

  @screen xl {
    width: 532px;
    height: 327px;
    margin-right: 8px;
  }
}
.dist-geography {
  @screen xl {
    clip-path: polygon(0 0%, 66% 0, 100% 100%, 0% 100%);
  }
}

.vacancy-single {
  &__heading {
    @apply mb-0 text-body2 normal-case;
  }

  &__exp-heading {
    @apply mb-[24px] text-body7;
  }

  &__sub-heading {
    @apply text-body7;
  }

  &__price {
    @apply text-body2;
  }

  &__list {
    @apply text-body5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      &::before {
        @apply bg-text1;
        content: "";
        min-width: 8px;
        max-width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
  }

  @screen md {
    &__heading {
      font-size: 28px;
      letter-spacing: 0.01em;
      line-height: normal;
    }

    &__exp-heading {
      @apply text-body2;
    }

    &__price {
      font-size: 28px;
      letter-spacing: 0.01em;
      line-height: normal;
    }

    &__sub-heading {
      font-size: 2rem;
      line-height: normal;
      letter-spacing: 0.01em;
    }
  }

  @screen xl {
    &__heading {
      font-size: 36px;
    }

    &__exp-heading {
      font-size: 24px;
      line-height: normal;
      letter-spacing: 0.01em;
    }

    &__price {
      font-size: 36px;
    }

    &__sub-heading {
      font-size: 2.8rem;
    }

    &__list {
      gap: 26px;
    }
  }
}

.team-slider__heading {
  @apply col-span-4 text-body2;
  @screen md {
    font-size: 24px;
    line-height: 36px;
  }
  @screen xl {
    font-size: 28px;
    line-height: 42px;
  }
}

.teams-slider {
  padding: 0 20px;
  .swiper-slide {
    @apply bg-lightBlue;
    width: 282px;
    height: auto;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 268px;
  }
  &__heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  &__subheading {
    @apply text-body5 text-greyBlue;
  }
  &__heading-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  @screen md {
    padding: 0;
    .swiper-slide {
      width: auto;
    }
    &__img {
      height: 268px;
    }
    &__heading {
      font-size: 18px;
    }
    &__heading-container {
      padding: 20px;
      gap: 16px;
    }
  }
  @screen xl {
  }
}

.team-slider__text {
  @apply col-span-5 col-start-6 text-body5;
}

.team-slider .swiper-controls {
  @apply mt-8 md:mt-0;
}

.team-skew-block {
  span {
    @apply block max-w-[215px] -skew-x-[35deg] md:max-w-[446px] xl:max-w-[552px];
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
  }

  @screen md {
    span {
      font-size: 16px;
      font-weight: 700;
      line-height: 23px;
    }
  }

  @screen xl {
    span {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}

.paraf-subheading {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 30px;

  &--v2 {
    font-size: 16px;
    margin-bottom: 24px;
  }

  @screen md {
    font-size: 24px;
    margin-bottom: 40px;

    &--v2 {
      margin-bottom: 30px;
    }
  }

  @screen xl {
    font-size: 28px;
  }
}

.paraf-category__container {
  padding: 0 20px;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;

  .paraf-category__item {
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .paraf-category__img {
      width: 62px;
      height: 62px;
    }
    .paraf-category__text {
      @apply text-body5;
      text-align: center;
    }
  }

  @screen md {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 79px;
    row-gap: 30px;

    .paraf-category__item {
      width: auto;
      .paraf-category__img {
        width: 68px;
        height: 68px;
      }
      .paraf-category__text {
        @apply text-body4;
      }
    }
  }

  @screen xl {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    row-gap: 40px;
  }
}
